@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Scope+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --color-primary: #0d9488; /* teal-600 */
  --color-secondary: ##475569; /* violet-600  */ 
}

body {
  /* font-family: "Poppins"; */
  font-family: "Plus Jakarta Sans";
  /* font-family: "Scope One"; */
  /* font-family: "Parkinsans"; */
  /* font-family: "Urbanist"; */
  font-weight: 300;
  font-style: normal;
}


/* Add these to your index.css */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }

.border-primary { border-color: var(--color-primary); }
.border-secondary { border-color: var(--color-secondary); }